[2017-07-19 01:16] SeeminglyScience opened #3 "Add-CommandToManifest includes empty array expression"
If a `@()` is present instead of a function list the ending expression will be `FunctionsToExport = '@()', 'NewFunctionName'`.

[2017-07-21 01:31] #3 closed, assigned to nobody

[2017-07-25 23:13] SeeminglyScience opened #8 "ConvertTo-MarkdownHelp doesn't create missing docs folder."
If the target markdown docs folder does not already exist, markdown will be inserted into ps1 file.  The workaround is undo and create the docs folder manually.

[2017-07-25 23:14] SeeminglyScience opened #9 "Add-ModuleQualification doesn't work without manifest inference"
If `Add-ModuleQualification` can't find the current project's manifest file it will fail to invoke command lookup in the global scope.

[2017-07-30 21:44] SeeminglyScience opened #10 "ConvertTo-MarkdownHelp inserts incorrect online help path"
Needs to include blob/master in the generated URI.

[2017-08-08 00:02] #8 closed, assigned to nobody

[2017-08-08 00:02] #9 closed, assigned to nobody

[2017-08-08 00:02] #10 closed, assigned to nobody

[2017-08-22 18:21] vrdse opened #19 "VSCode palatte doesn't show commands"
I can't find any of the commands in the VSCode palette.

Commands executed

    PowerShellGet\Install-Module EditorServicesCommandSuite -Scope CurrentUser
    Import-Module EditorServicesCommandSuite
    Import-EditorCommand -Module EditorServicesCommandSuite

System information

   Get-Host

    Name             : Visual Studio Code Host
    Version          : 1.4.1
    InstanceId       : ***

[2017-08-22 21:00] SeeminglyScience commented on #19
Yeah, currently editor commands are registered to the sub menu "Show additional commands from PowerShell modules".

![](http://powershell.github.io/PowerShellEditorServices/images/vsc_command_palette.png)

Right now the only way to add commands directly to the command palette is through the VSCode extension's manifest.  There's an open issue on the VSCode repo to open this up.  [Here's where you c

[2017-08-22 21:20] vrdse commented on #19
Ahh that makes sense, thanks!

[2017-08-22 21:20] #19 closed, assigned to nobody

[2018-04-04 14:49] LaurentDardenne opened #26 "ConvertTo-SplatExpression : the new text is not correctly inserted"
With the following code :
[code]
Call ConvertTo-SplatExpression by F1 do not work correctly :
[code]
No error with this text :
[code]

[2018-04-06 00:41] SeeminglyScience commented on #26
Thanks for reporting this! I see what I did wrong :)

I'm in the middle of rewriting a lot of this in C#, I've confirmed the new code doesn't have the same issue.  I'll leave this open until that release.

[2018-05-14 17:17] SeeminglyScience opened #27 "Improve ConvertTo-SplatExpression error message when cursor position is not within a command."
Right now the error message is this:

[code]

Which is pretty meaningless to most people.   Should be something like "Unable to determine which command to splat.  Ensure the cursor is placed within a command and try again."

I should also check for active selections and look for `CommandAst`'s anywhere within.

Thank you @jkavanagh58!

[2018-05-18 20:39] jkavanagh58 commented on #27
Thank you sir, definitely operator error but a more descriptive error may have kept **me** from performing the same action expecting different behavior. 🤕

[2018-07-08 18:09] SeeminglyScience opened #28 "Transition existing commands"
I'm currently working on a major overhaul of this module to be based around "refactoring" options.  Part of this was a new infrastructure of sorts around the commands to make writing them significantly less time consuming and error prone.

The new infrastructure is written in C# and works best when the commands are also written in C#.  This issue will be used to track the conversion or possible re

[2018-07-20 08:30] Jawz84 opened #29 "FeatureRequest"
I love your `ConvertTo-SplatExpression` command, and I have a suggestion about it. I have looked at your code for this command, and I need more time to fully understand how this works. But bear with me for the idea I have please:

For some scenarios it would be great to have the possibility to:
  1. Create a splat for all mandatory parameters of a given command
  2. Create a splat for all possible

[2018-07-20 12:34] SeeminglyScience commented on #29
Hmm, that's a really interesting idea. I can definitely see how that would be useful :)

There are a couple of things to consider that make this a little challenging (but definitely doable)

### Parameter sets

Ideally we would try to identify the best parameter set based on already supplied parameters, but that would take considerable effort.  Still, it may not be a bad idea to build that functio

[2018-08-15 08:44] fatherjack opened #31 "Error when profile loads (all hosts)"
As per the advice I have inserted the following to my profile
[code]
This was working for some time but

however, each time my profile now loads now I get
[code]

what have I done wrong please?

[2018-08-15 16:59] SeeminglyScience commented on #31
Hmm, thanks for the report @fatherjack! Is this inside the VSCode integrated console or a standard standalone PowerShell window?

I ask because `Import-EditorCommand` is from the `PowerShellEditorServices.Commands` module, which is typically only available within the VSCode integrated console.

If this is within the VSCode integrated console, could you provide a screen shot?

[2018-08-19 20:49] Jawz84 commented on #29
Closed by #30

[2018-08-19 20:50] #29 closed, assigned to nobody

[2018-09-17 16:58] sheldonhull commented on #31
I'm also having this issue. I just installed the PSReadline vsix update to try it out, and the commands are not registering as extension commands.

[code]
works...

then running the following:
[code]
fails with the following:
[code]

full detail
[code]

[2018-09-18 16:03] SeeminglyScience commented on #31
@sheldonhull Ah yeah that's a bit different.  Looks like the `Commands` module isn't loading automatically in that preview.

In the mean time as a workaround you can import it directly in your profile.  I have something like this as the first line in my profile:

[code]

If your vscode extension path is different or you're not on Windows the path will need to change, but that should work until it'

[2018-09-18 16:20] rjmholt commented on #31
Yes this is fixed in https://github.com/PowerShell/PowerShellEditorServices/pull/741. Rather than build a new preview manually, when this is merged, AppVeyor will create a build and I can distribute it from the link.

[2019-01-03 18:54] dsolodow opened #33 "Error importing module"
Windows 10 1809 x64
Visual Studio Code 1.30.1
PowerShell Extension 1.10.2

The given assembly name or codebase was invalid. (Exception from HRESULT: 0x80131047)
At C:\Users\dsolodow\Documents\WindowsPowerShell\Modules\EditorServicesCommandSuite\0.4.0\EditorServicesCommandSuite.psm1:22 char:1
+ . $PSScriptRoot\Classes\Expressions.ps1
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo

[2019-01-05 03:43] dsolodow commented on #33
So it looks like this is connected to having non-alphanumeric characters in the path to the module. Specifically a dash and a comma (MyDocs redirected to OneDrive for Business)

[2019-01-07 14:16] SeeminglyScience commented on #33
@dsolodow Very interesting, thanks for reporting this!

When you get a chance could you get the call stack for the first error?

1. Force import the module `Import-Module EditorServicesCommandSuite -Force`
1. Find the error index in `$Error` (e.g. if it was the last error it would be `$Error[0]`)
1. Run `$Error[0].Exception.GetBaseException() | Format-List * -Force` where the <kbd>0</kbd> in `$Err

[2019-01-07 14:19] SeeminglyScience commented on #33
Also might be worth seeing if it works in the latest PowerShell Core.  I vaguely recall there was some issues with how the type gen worked with unexpected characters in source paths.

[2019-01-08 16:39] dsolodow commented on #33
PowerShell Core 6.1.1 works fine, but WindowsPowerShell gives the error.

Message        : The given assembly name or codebase was invalid. (Exception from HRESULT: 0x80131047)
FileName       :
FusionLog      :
Data           : {System.Management.Automation.Interpreter.InterpretedFrameInfo}
InnerException :
TargetSite     : Void nInit(System.Reflection.RuntimeAssembly ByRef, Boolean, Boolean)
Stac

[2019-01-09 16:15] SeeminglyScience commented on #31
@fatherjack I assume you got this figured out.  If not feel free to reopen the issue, thanks!

[2019-01-09 16:15] #31 closed, assigned to nobody

[2019-01-10 13:03] SeeminglyScience opened #34 "AstEnumerable bugs"
Using this issue to track bugs in the internal `AstEnumerable` class in the 0.5.0 preview build.

- [ ] `for` statements without an initializer throw NRE (e.g. `for (; $i -lt $l; $i++) { }`)

- [ ] Any PowerShell class with a constructor will throw NRE (likely because `ReturnType` is `null`)

[2019-01-10 13:07] SeeminglyScience opened #35 "Unresolved named parameters are not written to the splat hashtable"
In 0.5.0 parameters that were not resolved during static parameter binding are not added to the splat hashtable.  This is desired for positional parameters, but not for named parameters.

[2019-01-10 14:25] SeeminglyScience commented on #27
There's a few improvements coming in 0.5.0 that make this a bit easier to use

1. If your cursor is *directly after* the command AST it'll pick that up
1. It'll recurse parent ASTs to find the most likely target when your cursor is within nested expressions

[2019-01-10 18:37] dprice opened #36 "Opening folder with PowerShell files tries to open a "Join-Path" file"
I am seeing a strange issue when opening (or re-opening) VSCode with PowerShell files. I get the Windows dialog:

![image](https://user-images.githubusercontent.com/84499/50988851-d080b500-14db-11e9-839a-165e6a009a30.png)

If I choose Notepad, then it will open a non-existent file called "Join-Path":

![image](https://user-images.githubusercontent.com/84499/50988910-fe65f980-14db-11e9-82f4-4df2c70

[2019-01-10 19:13] SeeminglyScience commented on #36
@dprice Thanks for reporting this, that's definitely a new one! :)

Can you run these commands in the PowerShell Integrated Console (the one that starts up when you open a PowerShell document) and paste the output here?

[code]

Not sure that's related, but it's certainly unusual.  `PSScriptAnalyzer` is bunded with the PowerShell extension, so unless it had a fatal exception while loading that *sh

[2019-01-10 20:33] dprice commented on #36
Wow - fast reply! Here's the stuff you requested:

[code]
I just noticed the zero-byte `Join-Path` in my Documents folder. I deleted it and that seems to have fixed it. I have no idea how that file would have been generated...

Now onto figuring out why i get "Cannot read property of 'onError' of undefined' when trying to run a script.

Thanks for the help!

[2019-01-10 21:27] SeeminglyScience commented on #36
Awesome!  The most common way a file like that is generated is some from `'' > Join-Path` or `New-Item Join-Path $etc`.  Easier to do without noticing than one would think 😁

[Got live share installed?](https://github.com/MicrosoftDocs/live-share/issues/1216)

[2019-01-10 23:27] dprice commented on #36
That was the fix for my "onError" message - thanks again!

[2019-01-10 23:27] #36 closed, assigned to nobody

[2019-01-21 14:45] SeeminglyScience opened #38 "Remove several editor commands in overhaul"
In 0.5.0 every editor command had to be rewritten due to an overhaul of the module.  There are some editor commands that are either non-trivial, or I suspect they do not get any usage.

Below is a comment for every editor command that is being considered for removal in 0.5.0.  If you use any of these, please 👎 the comment they are contained within.

[2019-01-21 14:46] SeeminglyScience commented on #38
**Function Name**: ConvertTo-LocalizationString
**Display Name**: Add Closest String to Localization File
**Description**: Replaces a string expression with a variable that references a localization file, and adds the string to that file

[2019-01-21 14:47] SeeminglyScience commented on #38
**Function Name**: ConvertTo-MarkdownHelp
**Display Name**: Generate Markdown from Closest Function
**Description**: Generate markdown using PlatyPS, add the markdown file to your docs folder, and replace the comment help with an external help file comment.

[2019-01-21 14:48] SeeminglyScience commented on #38
**Function Name**: Add-PinvokeMethod
**Display Name**: Insert Pinvoke Method Definition
**Description**: Searches the pinvoke.net web service for a matching function and creates a Add-Type expression with the signature

[2019-01-21 14:49] SeeminglyScience commented on #38
**Function Name**: Expand-Expression
**Display Name**: Expand Selection Text to Output
**Description**: Invoke the currently selected text and replace it with the result.

[2019-01-21 14:50] SeeminglyScience commented on #38
**Function Name**: Remove-Semicolon
**Display Name**: Remove cosmetic semicolons
**Description**: Remove semi-colons that are at the end of a line, not in a string, and not a part of a property definition in a class.

[2019-01-21 14:50] SeeminglyScience commented on #38
**Function Name**: Set-HangingIndent
**Display Name**: Set Selection Indent to Selection Start
**Description**: Indent selected lines to the start of the selection.

[2019-02-09 23:33] markekraus opened #39 "ConvertTo-SplatExpression Creates Invalid Variable Names when using FQCN"
Assume you have the following command:

[code]

Running `ConvertTo-SplatExpression` on that line creates a variable named `$microsoft.PowerShell.Management\NewItemSplat` which is definitely not a valid variable name.

Full transformation:

[code]

[2019-03-29 19:53] janegilring opened #40 "Import-Module : Assembly with same name is already loaded"
OS: Windows 10 1809
PowerShell version: Core 6.2.0
VS Code: 1.32.3
VS Code PowerShell extension: 1.12.0

I have the following defined in my VS Code PowerShell profile ($profile):
if (Get-Module -Name EditorServicesCommandSuite -ListAvailable) {

    Import-Module EditorServicesCommandSuite
    Import-EditorCommand -Module EditorServicesCommandSuite

}

During the past day or so, the following happ

[2019-03-31 15:47] janegilring commented on #40
As a workaround for avoiding the error and getting the module loaded as part of the profile, the following works:
if (Get-Module -Name EditorServicesCommandSuite -ListAvailable) {

    Import-Module EditorServicesCommandSuite -ErrorAction SilentlyContinue #workaround
    Import-Module EditorServicesCommandSuite
    Import-EditorCommand -Module EditorServicesCommandSuite

}

[2019-05-27 14:07] ghost opened #41 "ConvertTo-SplatExpression does seem to work under Windows 10 1903 and powershell core 6.2"
Cannot get the editor services to load either from profile or manually

manually no errors but when using command pallette convertto-splatexpression is not avaiable?

it maybe a config issue with windows 1903?

[2019-05-27 14:34] #26 closed, assigned to nobody

[2019-05-28 16:47] SeeminglyScience commented on #41
Yeah, currently editor commands are registered to the sub menu "Show additional commands from PowerShell modules".

![](http://powershell.github.io/PowerShellEditorServices/images/vsc_command_palette.png)

Right now the only way to add commands directly to the command palette is through the VSCode extension's manifest.  There's an open issue on the VSCode repo to open this up.  [Here's where you c

[2019-05-29 11:38] SeeminglyScience commented on #41
Resolved per reply https://github.com/Microsoft/vscode/issues/1422#issuecomment-496599654, closing.

[2019-05-29 11:38] #41 closed, assigned to nobody

[2019-11-11 15:12] ArtisanByteCrafter opened #42 "ConvertTo-SplatExpression: Cannot find type for custom attribute 'EditorCommand'"
Working with the newest Powershell Preview extension (tested on v2019.11.0), `ConvertTo-SplatExpression` fails with the following error. Non-preview powershell extension works as intended.

[code]

[2019-11-18 13:27] SeeminglyScience commented on #42
I've made some changes to the v0.5.0 branch to accommodate the new PowerShellEditorServices architecture.  That version is a complete overhaul of the module and isn't where I want it to be for release yet, but it's currently functional and should serve as a drop in replacement.

~~[You can grab a daily here](https://artprodcus3.artifacts.visualstudio.com/A92124312-5ffc-43dc-a70b-5ed3c24753d2/72e7a

[2019-11-18 13:49] SeeminglyScience commented on #40
Thanks @janegilring! This will also be fixed in v0.5.0.  Info about running a daily build [in this thread](https://github.com/SeeminglyScience/EditorServicesCommandSuite/issues/42#issuecomment-555014744).

[2019-11-18 13:58] janegilring commented on #40
Awesome, I'll go ahead and close the issue.

[2019-11-18 13:58] #40 closed, assigned to nobody

[2019-11-20 20:54] scrthq commented on #42
Daily works great @SeeminglyScience - thank you so much for publishing the link as a temporary workaround!

![image](https://user-images.githubusercontent.com/12724445/69277252-91b09680-0ba5-11ea-84ee-a1975d0403f6.png)

[2019-11-26 11:56] SQLDBAWithABeard commented on #40
Thank you, the work around works around :-)

But only with the PowerShell extension. If I have the preview extension I get

[code]

Is this a seperate issue ?

[2019-11-26 12:02] SQLDBAWithABeard opened #43 "You cannot call a method on a null-valued expression for Import-EditorCommand -Module EditorServicesCommandSuite"
Thank you, the work around in #40  works around :-)

But only with the PowerShell extension.With PowerShell Preview Extension and PowerShell 6.2.3 on Windows  `when I run Import-EditorCommand -Module EditorServicesCommandSuite` I get the below error

[code]

This is also still occuring with the daily release as of today

[2019-11-26 13:15] SeeminglyScience commented on #43
You sure it works in stable? The error in preview makes sense, but it *definitely* shouldn't work in stable either o.0

This was a PSES issue, fixed with PowerShell/PowerShellEditorServices#1114.

That said, **you can just remove `Import-EditorCommand` from your profile**.  The preview version of this module doesn't (and won't on release) require it anymore.

Maybe replace it with `Import-CommandS

[2019-11-28 14:49] spaelling opened #44 "ConvertTo-SplatExpression: not including all properties"
`ConvertTo-SplatExpression` does not include all properties in below code, only the first 3 are included

[code]

results in

[code]

changing the order of parameters makes no difference or nothing happens.

[2019-12-01 11:58] jhoneill commented on #40
@janegilring   Thank you. After trying everything I could think of to get this to work this morning (and wasting nearly two hours !) I found this. Thanks for sharing.

[2019-12-04 11:42] codaamok opened #45 "PowerShell Preview extension: "No extension commands have been loaded into current session""
While the PowerShell Preview VSCode extension is loaded, I opened the command palette to choose "Show additional commands from PowerShell module...". A small pop up in the bottom corner read "No extension commands have been loaded into current session".

A kind person in WinAdmins Discord pointed me to the below issue where you linked to module version 0.5.0. Just come here to say the issue I just

[2020-02-19 11:50] kilasuit commented on #42
Any chance the v 0.5.0 can be pushed to the Gallery as a prelease?

[2020-02-19 13:11] SeeminglyScience commented on #42
@kilasuit Not yet, PowerShellEditorServices is currently changing too rapidly to steadily release previews atm.

Once PowerShell/PowerShellEditorServices#1183 makes it into a vscode-powershell preview release then I'll get something up.

[2020-02-21 07:33] PrzemyslawKlys commented on #42
After today's update to Preview 0.5 stopped working again.

[code]

[code]

[2020-02-21 13:34] SeeminglyScience commented on #42
Thanks @PrzemyslawKlys! Yeah, some more big changes.  I'll get another build ready this weekend.

[2020-02-22 20:14] SeeminglyScience commented on #42
[Fix for preview 9 here](https://artprodcus3.artifacts.visualstudio.com/A92124312-5ffc-43dc-a70b-5ed3c24753d2/72e7a1a1-a36b-4e39-b04e-268222d6d649/_apis/artifact/cGlwZWxpbmVhcnRpZmFjdDovL1NlZW1pbmdseVNjaWVuY2UwMzY4L3Byb2plY3RJZC83MmU3YTFhMS1hMzZiLTRlMzktYjA0ZS0yNjgyMjJkNmQ2NDkvYnVpbGRJZC80NS9hcnRpZmFjdE5hbWUvRWRpdG9yU2VydmljZXNDb21tYW5kU3VpdGUtdnMyMDE3LXdpbjIwMTY1/content?format=zip).  Also update

[2020-02-22 20:26] PrzemyslawKlys commented on #42
[code]

One error still remains.

[2020-02-22 20:28] SeeminglyScience commented on #42
@PrzemyslawKlys That error isn't coming from ESCS, can you file that on PowerShellEditorServices? Also you can remove `Import-EditorCommand` from your profile, it's no longer required for this module (and that'll bypass that error).

[2020-02-22 20:29] PrzemyslawKlys commented on #42
I can, but does it still matter if I'm not supposed to use it?

[2020-02-22 20:32] SeeminglyScience commented on #42
This module just doesn't require it anymore, other modules still can.  I'll take submitting the issue, thanks for the report 🙂

[2020-02-23 09:27] PrzemyslawKlys opened #50 "Splat Expressions giving weird results?"
Hi @SeeminglyScience

So I have this:

![image](https://user-images.githubusercontent.com/15063294/75109673-cbba8a00-5625-11ea-9dde-ab2356fea1e8.png)

I choose splat expression.. and:

1. If the cursor is inside Filter it will do this:

![image](https://user-images.githubusercontent.com/15063294/75109689-f86ea180-5625-11ea-874d-1032831276d4.png)

2. If the cursor is on Get-ADUser it will do this:

[2020-03-07 17:58] SeeminglyScience commented on #50
So the first part is working as expected.  From the perspective of static analysis, `Enabled` is a command and `-eq` is a parameter name. Really `Get-ADUser`'s `-Filter` parameter isn't typed as a `ScriptBlock`.  Instead it's converted to a string and the command internally does some hacky string scanning to look for variables.  Most folks (including myself) will recommend rather strongly against

[2020-03-07 18:04] PrzemyslawKlys commented on #50
What about this conversion?

[code]

To

[code]

It's behaving like that now. $DomainControllers should be elsewhere...

[2020-03-07 18:20] SeeminglyScience commented on #50
Yeah that's wrong for sure 🙂

Working on it now, thanks!

[2020-03-08 19:36] SeeminglyScience commented on #42
Fixed with v1.0.0-beta1

[code]

[2020-03-08 19:36] #42 closed, assigned to SeeminglyScience

[2020-03-08 19:36] SeeminglyScience commented on #50
Fixed with v1.0.0-beta1

[code]

[2020-03-08 19:36] #50 closed, assigned to nobody

[2020-03-08 19:36] SeeminglyScience commented on #44
Fixed with v1.0.0-beta1

[code]

[2020-03-08 19:36] #44 closed, assigned to nobody

[2020-03-08 19:36] SeeminglyScience commented on #45
Fixed with v1.0.0-beta1

[code]

[2020-03-08 19:36] #45 closed, assigned to nobody

[2020-03-08 19:37] SeeminglyScience commented on #43
Fixed with v1.0.0-beta1

[code]

[2020-03-08 19:37] #43 closed, assigned to nobody

[2020-03-08 19:37] SeeminglyScience commented on #39
Fixed with v1.0.0-beta1

[code]

[2020-03-08 19:37] #39 closed, assigned to nobody

[2020-03-08 19:37] SeeminglyScience commented on #35
Fixed with v1.0.0-beta1

[code]

[2020-03-08 19:37] #35 closed, assigned to SeeminglyScience

[2020-03-08 19:38] SeeminglyScience commented on #33
Fixed with v1.0.0-beta1

[code]

[2020-03-08 19:38] #33 closed, assigned to nobody

[2020-03-08 22:27] PrzemyslawKlys opened #52 "Remove cancelation message?"
If you open Splat menu then cancel is straight away i get error message.

![image](https://user-images.githubusercontent.com/15063294/76172251-25799300-6194-11ea-8818-5bf5b461c610.png)

I believe there should be no message to not confuse users?

[code]

[2020-03-12 17:10] SQLDBAWithABeard commented on #43
Thank you - Confirmed :-)

[2020-04-12 15:36] PrzemyslawKlys opened #53 "Cannot convert argument "psEditor", with value: "Microsoft.PowerShell.EditorServices.Extensions.EditorObject""
Errors again in Preview

[code]

[code]

[2020-04-22 16:08] bergmeister opened #54 "Splatting command broken due to Omnisharp?"
Using EditorServicesCommandSuite ` 1.0.0-beta1` with PowerShell 7.1-preview, and RTM version of VS-Code and the Powershell extension,
Placing the cursor on a line like e.g. `$runtime = Get-AzDataFactoryV2IntegrationRuntime -DataFactoryName (Get-AzDataFactoryV2 -ResourceGroupName $resourceGroupName).DataFactoryName -ResourceGroupName $resourceGroupName`
Then importing the editor suite as:
[code]
Th

[2020-04-22 16:27] SeeminglyScience commented on #54
Yeah both PSES and this module use omnisharp's LSP library.  That lib had a binary breaking change recently (see OmniSharp/csharp-language-server-protocol#231) which is causing this error.

I just need to recompile and throw up another release.  Aiming to get it out today or tomorrow.  Thanks for reporting!

[2020-04-22 16:37] bergmeister commented on #54
Awesome, thanks for the support. Unfortunately, it seems every time I have a splatting job and try to use your editor suite, someone has broken you :-(
Maybe if you could mention the version of the PS extension and Omisharp, I could pin them in a VSOnline server.

[2020-04-22 17:02] SeeminglyScience commented on #54
Yeah it's been a *rough go* here lately.  Most of that was PSES completely changing it's architecture every couple week or so though 😉

Should be mostly stable these days, with this particular issue being a *very* unfortunately timed one off.

Ah good idea. vscode-powershell v2020.3.0 (the previous stable as of today) is the last stable that works with ESCS preview1

[2020-04-22 18:08] Jawz84 commented on #54
Great work @bergmeister and @SeeminglyScience! I came looking if this had already been filed, as I ran into this too today, and I saw it mentioned on Twitter too (https://twitter.com/alexandair/status/1252983807067725825?s=20), but you were already right on it ❤️

[2020-05-03 19:47] SeeminglyScience commented on #54
Fixed with v1.0.0-beta2, thank you to everyone for reporting!

[2020-05-03 19:47] #54 closed, assigned to SeeminglyScience

[2020-05-03 19:49] SeeminglyScience commented on #53
Should be fixed with v1.0.0-beta2.  This message is different from the other reports and what I personally was able to reproduce, but I assume it's the same.  If you still hit this after updating, let me know please!  Thanks again!

[2020-05-03 19:49] #53 closed, assigned to nobody

[2020-05-03 19:50] SeeminglyScience commented on #52
Included the fix for this in 1.0.0-beta2.  I changed the behavior to not prompt, it just assumes you want a basic splat.

[2020-05-03 19:50] #52 closed, assigned to SeeminglyScience

[2020-05-03 20:00] PrzemyslawKlys commented on #52
What if I wanted the advanced ones?

[2020-05-03 20:05] PrzemyslawKlys commented on #53
It's gone after update, at least for now.

[2020-05-03 20:10] Jawz84 commented on #54
I can confirm the fix of this error. Thanks!

[2020-05-03 20:14] bergmeister commented on #54
@SeeminglyScience Awesome. Thanks, it works again (using PS 7.1) :-)

[2020-05-12 09:17] PrzemyslawKlys opened #56 "Switch IsPresent is converted to $true automatically on Splat conversion"
It seems that ConvertToSplat does automatic conversion to $true when you use something along the lines

[code]
to

[code]

[2020-05-13 21:21] PrzemyslawKlys opened #57 "New PowerShell Preview, broken again"
Hi,

Sorry to report

[code]

[2020-05-14 15:58] SeeminglyScience commented on #57
Thanks @PrzemyslawKlys!

Yeah I was warned about this one at least.  This is another omnisharp related breaking change, the last one was accidental, this one was purposeful but necessary.  Both cases should be exceedingly rare, just really bad luck on the timing.

Aiming to get another preview out this weekend with the fix.

[2020-05-14 15:59] PrzemyslawKlys commented on #57
That's great! I refuse to use splat without your function :-p

[2020-05-18 22:13] phoerr opened #58 "ConvertTo-SplatExpression - parameter to choose variable name capitalization"
On my team at work, we write a lot of PowerShell and have found `ConvertTo-SplatExpression` very helpful. However, we've also standardized on a naming scheme that says our variable names should begin with an uppercase letter.

From the documentation example for `ConvertTo-SplatExpression`, instead of a variable name `$getChildItemSplat`, we'd like to see the name `$GetChildItemSplat` (with a capit

[2020-05-19 12:51] SeeminglyScience commented on #58
That's a reasonable request, I'll try to slip it in the next preview.  I'll add it as a setting (settable at workspace, user, and machine level).

Thanks for the suggestion!

<details>

<summary>Settings file looks like this currently (click to expand)</summary>

[code]

</details>

[2020-05-19 17:43] phoerr commented on #58
That'd be great. I like the approach of using a setting versus adding a parameter.

I'll give the next preview a try when it's available.

Thanks!

[2020-05-31 14:00] SeeminglyScience commented on #57
[Here's a preview build](https://artprodcus3.artifacts.visualstudio.com/A92124312-5ffc-43dc-a70b-5ed3c24753d2/72e7a1a1-a36b-4e39-b04e-268222d6d649/_apis/artifact/cGlwZWxpbmVhcnRpZmFjdDovL1NlZW1pbmdseVNjaWVuY2UwMzY4L3Byb2plY3RJZC83MmU3YTFhMS1hMzZiLTRlMzktYjA0ZS0yNjgyMjJkNmQ2NDkvYnVpbGRJZC81MC9hcnRpZmFjdE5hbWUvRWRpdG9yU2VydmljZXNDb21tYW5kU3VpdGUtdnMyMDE3LXdpbjIwMTY1/content?format=zip).  I'm going t

[2020-05-31 14:04] SeeminglyScience commented on #58
I have the changes in a preview build [available here](https://artprodcus3.artifacts.visualstudio.com/A92124312-5ffc-43dc-a70b-5ed3c24753d2/72e7a1a1-a36b-4e39-b04e-268222d6d649/_apis/artifact/cGlwZWxpbmVhcnRpZmFjdDovL1NlZW1pbmdseVNjaWVuY2UwMzY4L3Byb2plY3RJZC83MmU3YTFhMS1hMzZiLTRlMzktYjA0ZS0yNjgyMjJkNmQ2NDkvYnVpbGRJZC81MC9hcnRpZmFjdE5hbWUvRWRpdG9yU2VydmljZXNDb21tYW5kU3VpdGUtdnMyMDE3LXdpbjIwMTY1/con

[2020-05-31 14:14] PrzemyslawKlys commented on #57
[code]

It doesn't work with Preview of Preview :-)

[2020-05-31 14:15] PrzemyslawKlys commented on #57
But you may be right that it's too unstable to put effort into it.

[2020-05-31 14:18] SeeminglyScience commented on #57
If that's Windows PowerShell could you do me a favor and check if it works in PS7?

[2020-05-31 14:22] PrzemyslawKlys commented on #57
It works, as in it loads, then when you do menu it works. But when you try splat it errors out

[code]

[2020-05-31 14:28] SeeminglyScience commented on #57
Thanks for checking that.

Yeah, I'm going to need to wait until that hits an actual release (even as a preview) to fix it.  Hopefully if we wait out this wave of breaks it won't be a problem anymore.  If not, I'll evaluate removing the dependency and rewriting all the logic myself.  Thanks for your patience!

[2020-06-02 19:18] phoerr commented on #58
This is working great for me! I downloaded that build, and with VS Code `1.45.1` and the PowerShell Preview Extension `v2020.6.0-preview`, it's doing exactly what I what.

My settings:
[code]

I tested with the settings file in the `Workspace`, `User`, and `Machine` scopes, and they all behaved as expected.

[2020-06-02 21:04] SeeminglyScience commented on #58
Fantastic! Thank you for testing so thoroughly ❤️

[2020-06-18 01:31] cjpalmer commented on #57
Has there been any movement on this? This is a great feature and I am hoping the dependent stuff as moved forward. This is very frustrating to not have this working.

[2020-06-21 20:41] SeeminglyScience commented on #57
@cjpalmer Been a bit under the weather lately, sorry for the delay.  Thanks for the kick! It's definitely my top priority atm.

[2020-06-21 21:30] cjpalmer commented on #57
You take care of yourself first. I will survive without easy splatting. We don't want to lose your contributions because you didn't take care of yourself.

[2020-06-28 15:21] SeeminglyScience commented on #57
I'm still working on removing the dependencies that keep having issues, but it's taking longer than I expected.

So in the mean time, I've released another band-aid release.  Tested v1.0.0-beta3 on 5.1, 7.0.2, and 7.1-preview 3.  Hopefully this one lasts longer, but I'll keep working on rewriting the dependencies on the off chance it doesn't.

Thanks again to everyone for your patience and help wi

[2020-06-28 15:21] #57 closed, assigned to nobody

[2020-06-28 15:23] SeeminglyScience commented on #58
Included in v1.0.0-beta3, thanks again!

[2020-06-28 15:23] #58 closed, assigned to nobody

[2020-09-12 13:07] PrzemyslawKlys opened #61 "Setting switch to false is ignored"
Converting switch with `$false` is ignored

[code]

Probably related to: https://github.com/SeeminglyScience/EditorServicesCommandSuite/issues/56

[2020-11-01 15:27] ninmonkey opened #62 "Exception calling "ProcessRecord" with "1" argument(s): "An item with the same key has already been added. Key: Join-String""
## Description

Some calls to `Join-String` throws a key error.
Sometimes the exact same command that works, then breaks, relative the comment names on the line before.

## Script to reproduce

[code]
[Previous errors.log](https://github.com/SeeminglyScience/EditorServicesCommandSuite/files/5471186/previous.errors.log)

## Logs

### `$error[0]`

[code]

### `$error[0].InnerException`

[code]

[2020-11-01 15:39] ninmonkey commented on #62
# Potential part

In some cases a lint, like a trailing space seemed to prevent splatting.
This still gives the error
    Exception calling "ProcessRecord" with "1" argument(s): "An item with the same key has already been added. Key: Join-String"

## This will splat

`0..2 | Join-String -sep "`n" -prop { $_::maxvalue }`

## will not splat

(has a trailing space)
`0..2 | Join-String -sep "`n" -prop

[2020-11-06 11:36] constantinhager opened #63 "Use EditorServicesCommandSuite in PowerShell 7"
I try to use the EditorServicesCommandSuite with Powershell 7.0.3 in VS Code Insiders version 1.52.0-insider.

I used user profile script in the readme:
[code]

But the commands are not importing. If I run Import-CommandSuite from the integrated terminal I get

[code]

Is EditorServicesCommandSuite not supported in PowerShell 7. If not are there any plans to do that?

[2020-11-12 17:23] SeeminglyScience commented on #63
@constantinhager Should work, what version of EditorServicesCommandSuite are you on? If you're not already on `1.0.0-beta3`, that's needed for recent versions of the PowerShell extension (and that command didn't exist prior).

[2020-11-12 18:51] constantinhager commented on #63
Thank you for the information. Now It works with the beta version. This should absolutely be added to the readme. I was not aware of that.

[2020-11-12 18:51] #63 closed, assigned to nobody

[2020-11-12 18:55] SeeminglyScience commented on #63
Very good point, I went ahead and added that to the install module line in the READDME.  Thanks for catching that!

[2021-03-07 00:45] aollivierre opened #64 "Exception calling "ProcessRecord" with "1" argument(s): "Method not found: 'Void OmniSharp.Extensions.LanguageServer.Protocol.Models.VersionedTextDocumentIdentifier.set_Version(Int64)'.""
$PSVersionTable

Name                           Value
----                           -----
PSVersion                      7.1.2
PSEdition                      Core
GitCommitId                    7.1.2
OS                             Microsoft Windows 10.0.18363
Platform                       Win32NT
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0…}
PSRemotingProtocolVersion      2.3
Serializatio

[2021-03-09 05:09] bchap1n commented on #64
I'm seeing a similar error when running 'Splat Command' from vscode

[code]

[code]

[2021-03-09 14:55] SeeminglyScience commented on #64
Yep looks like omnisharp had another binary breaking change :/

Thanks for reporting, I'll fix it.

[2021-03-26 20:35] PrzemyslawKlys commented on #64
Any timeline? We're pretty addicted to your tool 👯‍♂️

[2021-03-26 20:59] SeeminglyScience commented on #64
Looks like there's another, bigger update coming to OmniSharp next week.  Looks very likely that there are more binary breaks so I'm waiting for that.

I don't typically like to recommend reverting to a previous PowerShell extension version, but I'm not gonna have enough time to do two releases, so if you want a fix *now* that'll do it.

[2021-05-10 21:00] bchap1n commented on #64
bumping this since Omnisharp was updated a while back.
:)

[2021-05-11 06:35] PrzemyslawKlys commented on #64
The only problem is new Preview is broken for PowerShell 5.1

[2021-06-03 00:05] bchap1n commented on #64
New Powershell  Extension has Omnisharp  v0.19.2 ✨

[2021-06-06 07:16] itfranck opened #65 "Exception calling "ProcessRecord" with "1" argument(s): "Method not found"
Using the Splat method, I get:
[code]

Using the non-pre-release version, it stopped working for a while.
It do not work nor it produce any error.

Updating to the latest beta now show an error (while still not converting to splat)

Observed on
- Vs code 1.56.2
- Powershell Preview (latest)
- Powershell Version -  5.1

[2021-06-21 11:25] ghost opened #66 "EditorServicesSuite stopped working"
I believe I submitted this issue in the past, but no longer see it.

The EditorServiceSuite has not worked in VSCode, well at least for me, since the last several VScode releases.

I've done several tests in pristine installs use the Windows 10 sandbox, for validation.

On startup, you see EditorServiceSuite being loaded and you can get a list of commands via Get-Command -Module EditorServiceSuite

[2021-07-04 21:08] SeeminglyScience commented on #61
Unfortunately nothing I can do about this.  The API `System.Management.Automation.StaticParameterBinder` does not report this parameter as bound.

Example:

[code]

Returns:

[code]

[2021-07-04 21:08] #61 closed, assigned to SeeminglyScience

[2021-07-04 22:19] #56 closed, assigned to nobody

[2021-07-04 22:19] #66 closed, assigned to nobody

[2021-07-04 22:19] #62 closed, assigned to nobody

[2021-07-04 22:39] SeeminglyScience commented on #65
Fixed in beta4

[2021-07-04 22:39] #65 closed, assigned to nobody

[2021-07-04 22:40] SeeminglyScience commented on #64
Fixed in v1.0.0-beta4.  Thanks everyone for your patience!

[2021-07-04 22:40] #64 closed, assigned to SeeminglyScience

[2021-07-19 19:08] ninmonkey opened #68 "ConvertTo-SplatExpression expands the outer expression if touching the brace"
At first I thought splat was breaking. Instead I think it's triggering different on the left brace.

![image](https://user-images.githubusercontent.com/3892031/126213297-873c94bf-aaee-41a7-918d-fdd7e3ce7f66.png)

If the cursor is on
- `a`, `c`, or `d` it will expand the outer expression
- `b` will try to expand the inner `$_`

[2021-10-30 04:09] SeeminglyScience opened #69 "Pwsh 7: Could not resolve `Foreach-Object` 's `-Parallel` argument using ConvertTo-SplatExpression"
**Moved from PowerShell/PowerShellEditorServices#1610** from @ninmonkey (thanks for the report!)

---

## Issue:

Splat is outputting this
[code]

![image](https://user-images.githubusercontent.com/3892031/139493967-597fa6fe-d490-49e5-96fb-4b2eaad139e0.png)

## Expected Behaviour

`-parallel` should splat as a `bool`

## To reproduce

Use `ConvertTo-SplatExpression` on the `For-EachObject`

[code]

[2022-07-19 12:45] Manbearpiet opened #70 "Splat Command splits OutputPath into Output and Path argument for Assert-PSRule"
# Summary

I tried splatting the following command:

[code]
This produced:

[code]

As you can see it splits OutputPath and it's value into OutputPath and Path.
There is no Path Argument specified.

[code]

[2022-07-19 12:49] #70 closed, assigned to nobody

[2022-07-19 12:49] Manbearpiet commented on #70
PEBCAK, path containing should be enclosed in double quotes, unquoted delivers different results :).

[2022-11-04 07:06] mrhvid opened #71 "Online version of help URL returns 404"
The URL in Import-CommandSuite help points to a 404
 Online Version: https://github.com/SeeminglyScience/EditorServicesCommandSuite/blob/master/docs/en-US/Import-CommandSuite.md

also
Get-Help Import-CommandSuite -Online
same thing.

[2022-11-11 13:17] mcx808 commented on #71
I also have this issue. For me I still can't get this module working in VSCode following the preceding steps in the readme.md until I hit that link and got 404.